*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-text-size-adjust: none;

  height: 100%;
  font-family: Jost, Arial, Helvetica, sans-serif;

  font-size: 10px;

  @media (max-width: 1920px) {
    /* font-size: 0.6771vw; */
    /* font-size: 0.6vw; */
    font-size: 0.525vw;
  }

  @media (max-width: 767px) {
    font-size: calc((100 / 375) * 10vw);

    /* padding-top: 3.4rem; */
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

video {
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;

  pointer-events: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
  display: block;
  outline: unset;

  cursor: pointer;
}

textarea,
input,
button,
label {
  cursor: pointer;
  outline: unset;
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: prety;
}

ul {
  list-style-type: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}
