.catalog-page {
}
.bread-crumbs {
  display: flex;

  margin-bottom: 3.5rem;

  @media (max-width: 767px) {
    margin-bottom: 2rem;
  }
}
.bread-crumbs__back {
  color: var(--grey-text);
}
.bread-crumbs__now {
  color: var(--primary);
}

/*  */

.cotnainer-catalog {
  margin-top: 6rem;

  @media (max-width: 767px) {
    margin-top: 4rem;
  }
}
.container-catalog__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--unit-20);

  @media (max-width: 767px) {
    display: flex;

    overflow-x: auto;
    margin: 0 -2rem 0 -2rem;
    padding: 0 2rem 0 2rem;
  }
}
.container-catalog__tabs-item {
  padding: var(--unit-20);
  border-radius: var(--unit-12);

  display: flex;
  align-items: center;
  gap: var(--unit-40);

  @media (max-width: 767px) {
    padding: var(--unit-8) var(--unit-16);
    gap: var(--unit-8);
    min-width: 23rem;
    width: 23rem;
  }

  &:nth-child(1) {
    background-color: var(--purple);
  }
  &:nth-child(2) {
    background-color: var(--beige);
  }
  &:nth-child(3) {
    background-color: var(--light-blue);
  }
}
.container-catalog__tabs-item.active {
  border: 0.3rem solid var(--primary);
}
.container-catalog__tabs-item__img {
  width: 23rem;
  height: 12rem;

  @media (max-width: 767px) {
    width: 8rem;
    height: 4rem;
  }

  img {
    object-fit: cover;
  }
}
.container-catalog__tabs-item__text {
}

/*  */

.container-catalog__filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  margin-top: 14rem;
}
.catalog-filter_list-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.catalog-filter_list {
  padding: var(--unit-20) var(--unit-32) var(--unit-20);
  border-radius: var(--unit-32);
  border: 0.1rem solid var(--line);
  transition: 0.3s ease;

  position: relative; 
}
.catalog-filter_list.is-open {
  border-radius: var(--unit-32) var(--unit-32) 0 0;
}
.catalog-filter_list-hgroup {
  display: flex;
  gap: var(--unit-12);
}
.catalog-filter_list-hgroup__img {
  width: 2.4rem;
  height: 2.4rem;
}
.catalog-filter_list-hgroup__text {
  color: var(--primary);
}
.catalog-filter_list-arrow {
  width: 2.4rem;
  height: 2.4rem;
  transition: transform 0.3s ease;
}
.catalog-filter_list-arrow.is-rotated {
  transform: rotate(180deg);
}
.catalog-filter__down-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  position: absolute;
  top: 100%;
  left: -0.1rem;
  right: -0.1rem;
  z-index: 10;

  margin-top: -1rem;
  padding: 0 2rem 0rem 4rem;
}
.catalog-filter__down-list.is-open {
  padding-bottom: 2rem;
  max-height: 30rem;
  border: 0.1rem solid var(--line);
  border-top: none;
  border-radius: 0 0 var(--unit-32) var(--unit-32);
}
.catalog-filter__down-list__item {
  color: var(--grey-text);
  cursor: pointer;
  width: fit-content;
}
