.catalog-page {
}
.bread-crumbs {
  display: flex;

  margin-bottom: 3.5rem;

  @media (max-width: 767px) {
    margin-bottom: 2rem;
  }
}
.bread-crumbs__back {
  color: var(--grey-text);
}
.bread-crumbs__now {
  color: var(--primary);
}

/*  */

.cotnainer-catalog {
  margin-top: 6rem;

  @media (max-width: 767px) {
    margin-top: 4rem;
  }
}
.container-catalog__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--unit-20);

  @media (max-width: 767px) {
    display: flex;
    gap: var(--unit-12);

    overflow-x: auto;
    margin: 0 -2rem 0 -2rem;
    padding: 0 2rem 0 2rem;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.container-catalog__tabs-item {
  padding: var(--unit-20);
  border-radius: var(--unit-12);

  display: flex;
  align-items: center;
  gap: var(--unit-40);
  border: 0.2rem solid transparent;

  @media (max-width: 767px) {
    padding: var(--unit-8) var(--unit-16);
    gap: var(--unit-8);
    min-width: 23rem;
    width: 23rem;
  }

  &:nth-child(1) {
    background-color: var(--purple);
  }
  &:nth-child(2) {
    background-color: var(--beige);
  }
  &:nth-child(3) {
    background-color: var(--light-blue);
  }
}
.container-catalog__tabs-item.active {
  border-color: var(--primary);
}
.container-catalog__tabs-item__img {
  width: 23rem;
  height: 12rem;

  @media (max-width: 767px) {
    width: 8rem;
    height: 4rem;
  }

  img {
    object-fit: cover;
  }
}
.container-catalog__tabs-item__text {
}

/*  */
.container-catalog__filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  margin-top: 14rem;

  @media (max-width: 767px) {
    margin: 0 -2rem -16rem -2rem;
    padding: 0 2rem 16rem 2rem;

    display: flex;
    gap: 1.2rem;
    margin-top: 3.2rem;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.catalog-filter_list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.catalog-filter_list {
  padding: var(--unit-20) var(--unit-32) var(--unit-20);
  border-radius: var(--unit-32);
  border: 0.1rem solid var(--line);
  transition: 0.3s ease;

  position: relative;

  @media (max-width: 767px) {
    min-width: 21rem;
    padding: var(--unit-8) var(--unit-12);
    border-radius: var(--unit-24);
  }
}
.catalog-filter_list.is-open {
  border-radius: var(--unit-32) var(--unit-32) 0 0;

  @media (max-width: 767px) {
    border-radius: var(--unit-24) var(--unit-24) 0 0;
  }
}
.catalog-filter_list-hgroup {
  display: flex;
  align-items: center;
  gap: var(--unit-12);
}
.catalog-filter_list-hgroup__img {
  width: 2.4rem;
  height: 2.4rem;

  @media (max-width: 767px) {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.catalog-filter_list-hgroup__text {
  color: var(--primary);
}
.catalog-filter_list-arrow {
  width: 2.4rem;
  height: 2.4rem;
  transition: transform 0.3s ease;

  @media (max-width: 767px) {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.catalog-filter_list-arrow.is-rotated {
  transform: rotate(180deg);
}
.catalog-filter__down-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  position: absolute;
  top: 100%;
  left: -0.1rem;
  right: -0.1rem;
  z-index: 10;

  margin-top: -1rem;
  padding: 0 2rem 0rem 4rem;

  @media (max-width: 767px) {
    margin-top: unset;
    padding: 0 2rem 0rem 2rem;
  }
}
.catalog-filter__down-list.is-open {
  padding-bottom: 2rem;
  max-height: 30rem;
  border: 0.1rem solid var(--line);
  border-top: none;
  border-radius: 0 0 var(--unit-32) var(--unit-32);

  @media (max-width: 767px) {
    border-radius: 0 0 var(--unit-24) var(--unit-24);
  }
}
.catalog-filter__down-list__item {
  color: var(--grey-text);
  cursor: pointer;
  width: fit-content;
}

/*  */

.catalog-filter__popup {
  position: absolute;
  top: 100%;
  left: -0.1rem;
  right: -0.1rem;
  z-index: 10;
  padding: 0 2rem 0rem 4rem;

  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  @media (max-width: 767px) {
    background-color: v;
    position: fixed;
    inset: 0;

    max-height: unset;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    padding: var(--unit-20);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-top: 3.2rem;

  @media (max-width: 767px) {
    width: 100%;

    background-color: var(--white);
    border-radius: var(--unit-16);
    padding: 6rem 2rem 2rem;

    margin-top: unset;

    position: relative;
  }
}
.close-popup__mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
    transition: 0.3s ease;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    width: 2.4rem;
    height: 2.4rem;

    &:hover {
      opacity: 50%;
    }
  }
}

.popup-content__hgroup {
  display: flex;
  justify-content: space-between;
}
.popup-content__hgroup-text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.popup-content__hgroup-text__item {
}
.popup-content__hgroup-span {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  cursor: text;
  outline: none;
}
.popup-content__hgroup-span__item {
}
.popup-progress {
  height: 1.4rem;
  width: 100%;
  background: linear-gradient(180deg, #edf3f8 0%, #f3f7f9 100%);
  border-radius: var(--unit-32);
  cursor: pointer;
}
.popup-progress__active {
  background-color: var(--primary);
  height: 1.4rem;
  width: 0;
  border-radius: var(--unit-32);
  position: relative;
}
.popup-progress__active-toddler {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary);
  cursor: grab;

  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.catalog-filter__popup.is-open {
  display: block;

  padding-bottom: 2rem;
  max-height: 30rem;
  border: 0.1rem solid var(--line);
  border-top: none;
  border-radius: 0 0 var(--unit-32) var(--unit-32);

  @media (max-width: 767px) {
    display: flex;
    height: 100dvh;
    max-height: unset;

    visibility: visible;
    opacity: 1;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.2rem);
    z-index: 1000;
  }
}

.popup-progress__active-toddler:active {
  cursor: grabbing;
}

/*  */

.container-catalog__core-btn {
  display: flex;
  justify-content: end;

  margin-top: 2rem;

  @media (max-width: 767px) {
    justify-content: start;
  }
}
.container-catalog__core-btn__item {
  color: var(--primary);

  transition: 0.3s ease;

  &:hover {
    color: var(--blue-text);
  }
}

/* сам каталог товаров */

.catalog-shop-core {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--unit-20);

  margin-top: 6rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    margin-top: 3.2rem;

    .card-catalog {
      padding: 3rem 0.8rem 0.8rem;
      min-height: 22.5rem;
    }

    .card-catalog__block-img {
      height: 15rem;
    }

    .card-catalog__content {
      gap: 1rem;

      margin-top: 1rem;
    }

    .card-catalog__tags {
      top: 1rem;
      left: 1rem;
    }

    .card-catalog__img-item {
      padding-bottom: 1rem;
    }

    .card-image-pagination .swiper-pagination-bullet {
      width: 0.4rem;
      height: 0.4rem;
    }
    .card-image-pagination .swiper-pagination-bullet-active {
      width: 1.5rem;
    }

    .card-catalog__content-text {
      font-size: 1rem;
    }

    .btn-primary {
      padding: 0.5rem 1rem;
      gap: 0.5rem;

      .lable__20 {
        font-size: 1rem;
      }

      span {
        svg {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    .card-catalog__info-price {
      font-size: 1.4rem;
    }
  }
}

/*  */

.container-catalog__block {
  display: flex;
  justify-content: center;

  margin-top: 6rem;

  @media (max-width: 767px) {
    margin-top: 3.2rem;
  }
}

/*  */
