.container-map {
}

.container-map-title {
  margin-bottom: 4rem;

  color: var(--primary);

  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}
.container-map__item {
  width: 100%;
  height: 87rem;
  border-radius: 3.2rem;

  @media (max-width: 767px) {
    height: 33rem;

    border-radius: 1.4rem;
  }
}
.container-map-text {
  display: flex;
  justify-content: center;

  color: var(--grey-text);

  margin-top: 1.2rem;
}
