.container-hero {
  padding: var(--unit-20) var(--unit-40) 9rem;
  border-radius: var(--unit-32);

  position: relative;
  overflow: hidden;

  margin: 0 4rem;

  @media (max-width: 767px) {
    border-radius: 0 0 var(--unit-20) var(--unit-20);
    padding: unset;
    margin: unset;
  }
}
.core-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10rem;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 26rem;
    align-items: unset;

    height: 75rem;
  }
}
.container-hero__content {
  display: flex;
  flex-direction: column;

  gap: 14rem;

  @media (max-width: 767px) {
    background-color: #ffffff66;
    backdrop-filter: blur(var(--unit-8));

    padding: var(--unit-12) var(--unit-16) var(--unit-32);
  }
}
.hero-content__hgroup {
  display: flex;
  flex-direction: column;
  gap: var(--unit-80);

  @media (max-width: 767px) {
    gap: var(--unit-20);
  }
}
.hero-content__hgroup-alt {
}
.hero-content__hgroup-title {
  color: var(--primary);
}
.hero-content__hgroup-text {
  color: var(--primary);

  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}
.hero-content__hgroup-btn {
  display: flex;
  gap: var(--unit-20);

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.swipper-hero__block-btn {
  display: flex;
  gap: 2rem;

  @media (max-width: 767px) {
    display: none;
  }
}
.swipper-hero__btn {
  transition: 0.3s ease;

  svg {
    width: 3.6rem;
    height: 3.6rem;
  }

  &:hover {
    opacity: 50%;
  }
}
.swipper-hero__btn-left {
}
.swipper-hero__btn-right {
}

/*  */

.block-recommend {
  display: flex;
  flex-direction: column;
  gap: var(--unit-12);

  @media (max-width: 767px) {
    width: 20rem;
    align-items: center;
    gap: 0.6rem;

    margin-left: 1rem;
  }
}

.recommend-card {
  padding: var(--unit-10) var(--unit-80);
  background-color: #ffffff66;
  backdrop-filter: blur(var(--unit-20));

  overflow: hidden;

  position: relative;
  border-radius: var(--unit-20);

  @media (max-width: 767px) {
    padding: var(--unit-8) var(--unit-32);
    backdrop-filter: blur(var(--unit-8));

    width: 17rem;
    border-radius: var(--unit-16);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    padding: 0.1rem;
    background-image: linear-gradient(
      138.91deg,
      #ffffff -3.92%,
      rgba(255, 255, 255, 0.1) 97.04%
    );
    border-radius: inherit;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
  }
}
.recommend-link {
  position: absolute;
  top: var(--unit-20);
  right: var(--unit-24);

  width: var(--unit-24);
  height: var(--unit-24);

  z-index: 2;

  transition: 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--unit-24);
    height: var(--unit-24);

    @media (max-width: 767px) {
      width: var(--unit-20);
      height: var(--unit-20);
    }
  }

  @media (max-width: 767px) {
    top: 0.8rem;
    right: 0.8rem;
  }

  &:hover {
    scale: 1.2;

    border-radius: 50%;
    background-color: var(--white);

    width: 3.2rem;
    height: 3.2rem;
  }
}
.recommend-back__img {
  position: absolute;
  left: -1.5rem;
  top: -4rem;

  width: 78rem;
  height: 66rem;

  @media (max-width: 767px) {
    width: 19rem;
    height: 16rem;

    top: 3rem;
    left: 0rem;
  }
}
.recommend-img {
  width: 32.4rem;
  height: 54.3rem;

  z-index: 10;

  position: relative;

  @media (max-width: 767px) {
    width: 11rem;
    height: 18.6rem;
  }
}

.recommend-tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;

  @media (max-width: 767px) {
    gap: 0.2rem;
  }
}

.recommend-tags__item {
  color: var(--primary);

  background-color: #ffffff66;
  backdrop-filter: blur(var(--unit-20));
  border-radius: var(--unit-32);
  padding: var(--unit-12) var(--unit-16);

  text-align: center;
  position: relative;

  @media (max-width: 767px) {
    font-size: 1rem !important;
    backdrop-filter: blur(var(--unit-8));
    padding: 0.4rem;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    padding: 0.1rem;
    background-image: linear-gradient(
      138.91deg,
      #ffffff -3.92%,
      rgba(255, 255, 255, 0.1) 97.04%
    );
    border-radius: inherit;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
  }
}

/*  */

.container-hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-hero__img-item {
  object-fit: cover;

  @media (max-width: 767px) {
    object-position: 45%;
  }
}
.container-hero__img-alt {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 39.82%,
    rgba(11, 22, 49, 0.2) 117.32%
  );

  z-index: -1;
}

.container-hero__img-bads {
  position: absolute;
  right: var(--unit-16);
  top: 11rem;

  width: 120rem;
  height: 63rem;

  @media (max-width: 767px) {
    width: 100%;
    height: 30rem;

    top: 20rem;

    left: 0rem;

    img {
      object-fit: cover;
    }
  }
}

/* пагинация свайпера */

.hero-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: var(--unit-8);

  position: absolute;
  margin: 0 auto 8rem;
  z-index: 1;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.hero-pagination-bullet {
  width: 0.6rem;
  height: 0.5rem;
  background: var(--light-grey);
  opacity: 0.7;
  margin: 0 !important;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: var(--unit-8);
}
.hero-pagination-bullet-active {
  background: var(--dark-blue);
  width: 3.2rem;
  opacity: 1;
}
