.container-approach {
  height: 90rem;

  position: relative;

  @media (max-width: 767px) {
    height: unset;
  }
}
.container-approach__title {
  color: var(--primary);

  margin-bottom: 35rem;
}
.container-approach__block {
}
.container-approach__block-img__one {
  width: 44rem;
  height: 73rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    top: 25rem;
    width: 20rem;
    height: 31rem;
  }
}
.container-approach__block__two {
  width: 135rem;
  height: 86rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    top: 25rem;
    width: 43rem;
    height: 40rem;
  }
}
.block__apporoach-card {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.apporoach-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 4rem;
  border-radius: 2.4rem;
  width: 49rem;

  background: #11214a1a;

  backdrop-filter: blur(20px);

  position: absolute;

  @media (max-width: 767px) {
    position: unset;
    padding: 2rem 1.6rem;
    width: 100%;

    gap: 1.2rem;
  }
  &:nth-child(1) {
    top: 32rem;
    left: 14rem;
  }
  &:nth-child(2) {
    top: 4rem;
    right: 4rem;
  }
  &:nth-child(3) {
    top: 50rem;
    right: 15rem;
  }
}
.apporoach-card__img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 4.8rem;
    height: 4.8rem;
  }

  img {
    width: 3.2rem;
    height: 3.2rem;

    @media (max-width: 767px) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
.apporoach-card__img_01 {
  background-color: var(--purple);
}
.apporoach-card__img_02 {
  background-color: var(--light-blue);
}
.apporoach-card__img_03 {
  background-color: var(--beige);
}
.apporoach-card__hgroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  color: var(--primary);

  @media (max-width: 767px) {
    gap: 0.8rem;
  }
}
.apporoach-card__hgroup-title {
}
.apporoach-card__hgroup-text {
}
