.container-video {
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}

.container-video__item {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4.8rem;
  cursor: pointer;

  @media (max-width: 767px) {
    border-radius: 1.6rem;
  }
}

.container-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 8rem;
  height: 8rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 30;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.container-video__play.show {
  opacity: 1;
  pointer-events: none; /* кнопка видна но мышь не перехватывает */
}

.container-video__play.clickable {
  pointer-events: auto; /* включаем клики только на паузе */
}

.container-video__play:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.play-icon {
  display: block;
  pointer-events: none;
}

/* Контент (текст) */
.container-video__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  position: absolute;
  z-index: 20;

  bottom: 4rem;
  left: 4rem;

  transition: opacity 0.3s ease;

  /* По умолчанию виден */
  opacity: 1;

  @media (max-width: 767px) {
    bottom: 1.2rem;
    left: 1.2rem;

    gap: 0.4rem;
  }
}

.container-video__content.hide {
  opacity: 0;
  pointer-events: none;
}

/* Класс для состояния, когда видео играет */
.container-video__item.playing ~ .container-video__content {
  opacity: 0;
  pointer-events: none;
}

/* При наведении на проигрывающееся видео показываем кнопку */
.container-video__item.playing:hover ~ .container-video__play {
  opacity: 1;
  pointer-events: auto;
}

.container-video__content-title {
  color: var(--beige);

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

.container-video__content-text {
  color: var(--grey-text);
}
